{% extends 'base.html' %}

{% block content %}
<b>Successfully Sent!</b>
    <p>
        We've successfully sent the password reset link to your email. You'll receive it in shortly.
    </p>
    <p>
        Please proceed to reset your password according to that instruction.
    </p>
    <p>
        If you don't see our email, please make sure you've entered the correct email address you registered with and also check your spam folder.
    </p>
    <p>
        <a href="{% url 'user:login' %}">Return to home page</a>
    </p>
{% endblock content %}